# {{ ansible_managed }}

[org.gnome.settings-daemon.plugins.power]
idle-dim=false
active=false

[org.gnome.desktop.screensaver]
idle-activation-enabled=false

[org.gnome.desktop.session]
idle-delay=uint32 0
